<!DOCTYPE html>
html(lang="en")
  head
    title Sentinel
    link(href="/css/site.css" type="text/css" rel="stylesheet")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")
  body
    .container
      ul.menu
        form(id="logout-form" action="/users/logout" method="POST")
          li
            a(class="btn btn-default" href="/alerts") Alerts
          li
            a(class="btn btn-default" href="/cameras") Cameras
          li
            a(class="btn btn-default" href="/faces") Faces
         
          .navRight
            if currentUser
              if currentUser.roles[0]
                li
                  a(class="btn btn-default" href="/users/register") Register
            li= currentUser.username
            li
              a(class="btn btn-default" href="javascript:document.getElementById('logout-form').submit()") Logout
                
            if !currentUser
              li
                a(class="btn btn-default" href="/users/login") Login
      block content
      block scripts
        script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous")
