extends ../layouts/main

block content
  div(class="col-8")
    form(action="/cameras/add" method="POST")
      div(class="form-group row")
        label(class="form-label col-1" for="name") Name
          
        div(class="col-11")
          input(type="text" name="name" id="name")
      div(class="form-group row")
        label(class="form-label col-1" for="url") Url
          
        div(class="col-11")
          input(type="text" name="address" id="url")
      div(class="form-group row")
        button(type="submit" class="btn btn-primary") Add Camera


  div
    table
      thead
        tr: th List of cameras:
      tbody(class="container")
      each camera in cameras
        tr(class=index % 2 == 0 ? 'odd row' : 'even row')
          td(class="col-8")
            a(href="/cameras/" + camera._id) #{camera.name}
          td(class="col-4")
            a(href='/cameras/remove/' + camera._id)
              span(class="red")='Remove'