extends ../layouts/main

block content
  h1 Listing and removing alerts
  table(class="alertTable table table-stripped")
    thead
      tr
        th Name
        th Timestamp
        th Camera
    tbody
    each al in alerts
      tr
        td=al.name
        td=al.timestamp
        td
          img(src="data:image/jpeg;base64," + al.image)
        td
          form(action="/alerts/remove" method="POST")
            input(type="hidden" name="timestamp" value=al.timestamp)
            input(type="submit" value="False alarm")
