extends ../layouts/main

block content

  
  h1 Listing, adding and removing faces from database

   form(method='POST' action='/faces/add' enctype='multipart/form-data')
          div.form-group
            label(for='name') Name:
            input#name.form-control(type='text', placeholder='First and Last Name' name='name')
          div.form-group
            label(for='image') Image:
            input#image.form-control(type='file', placeholder='Upload Image' name='image')          
          button.btn.btn-primary(type='submit') Add face


  div
   table
    thead
     tr: th People to look for:
    tbody
     each person, index in faces
      tr(class=index % 2 == 0 ? 'odd' : 'even')
       td
        img(src="data:image/jpeg;base64, " + person.image, height="100px",width="100px")
       td=person.name
       td
        a(href='/faces/remove/' + person.id +'')
         span='remove'

          
